In [59]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [60]:
pip install requests

Requirement already satisfied: requests in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\priya.laptop-pd\anaconda3\lib\site-packages (from requests) (1.26.9)
Note: you may need to restart the kernel to use updated packages.

In [61]:
from bs4 import BeautifulSoup

In [62]:
import requests

In [63]:
url = "https://www.flipkart.com/search?q=mobiles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&p%5B%5D=facets.brand%255B%255D%3DSAMSUNG"

In [64]:
allow = requests.get(url)

In [65]:
print (allow)

<Response [200]>

In [66]:
soup=BeautifulSoup(allow.text)

In [67]:
mobile_name=soup.select("._4rR01T")

In [68]:
mobile_name

[<div class="_4rR01T">SAMSUNG Galaxy F22 (Denim Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F22 (Denim Blue, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F22 (Denim Black, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F22 (Denim Black, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F12 (Celestial Black, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F12 (Sea Green, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M12 (Blue, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F12 (Sky Blue, 64 GB)</div>,
 <div class="_4rR01T">SAMSUNG Guru Music 2 SM-B315E</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M32 (Black, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG GT-E1215</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M32 (Light Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG GURU MUSIC 2</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG GURU GT</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F12 (Celestial Black, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy M12 (Black, 128 GB)</div>,
 <div class="_4rR01T">SAMSUNG Galaxy F12 (Sky Blue, 128 GB)</div>]

In [69]:
mobile=[]
mobile_links=[]

In [70]:
for item in mobile_name:
    mobile.append(item.text)
    link = "https://www.flipkart.com"
    mobile_links.append(link)

In [71]:
mobile

['SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
 'SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)',
 'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
 'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
 'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)',
 'SAMSUNG Galaxy F12 (Sea Green, 64 GB)',
 'SAMSUNG Galaxy M12 (Blue, 64 GB)',
 'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)',
 'SAMSUNG Guru Music 2 SM-B315E',
 'SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)',
 'SAMSUNG Galaxy M32 (Black, 128 GB)',
 'SAMSUNG GT-E1215',
 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
 'SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)',
 'SAMSUNG Galaxy M32 (Light Blue, 128 GB)',
 'SAMSUNG GURU MUSIC 2',
 'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)',
 'SAMSUNG GURU GT',
 'SAMSUNG Galaxy F12 (Celestial Black, 128 GB)',
 'SAMSUNG Galaxy M12 (Black, 128 GB)',
 'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)']

In [88]:
mobile_rates=soup.select("._1_WHN1")

In [89]:
mobile_rates

[<div class="_30jeq3 _1_WHN1">₹13,499</div>,
 <div class="_30jeq3 _1_WHN1">₹11,499</div>,
 <div class="_30jeq3 _1_WHN1">₹11,499</div>,
 <div class="_30jeq3 _1_WHN1">₹16,249</div>,
 <div class="_30jeq3 _1_WHN1">₹13,499</div>,
 <div class="_30jeq3 _1_WHN1">₹16,249</div>,
 <div class="_30jeq3 _1_WHN1">₹16,249</div>,
 <div class="_30jeq3 _1_WHN1">₹10,499</div>,
 <div class="_30jeq3 _1_WHN1">₹10,499</div>,
 <div class="_30jeq3 _1_WHN1">₹10,285</div>,
 <div class="_30jeq3 _1_WHN1">₹10,499</div>,
 <div class="_30jeq3 _1_WHN1">₹1,995</div>,
 <div class="_30jeq3 _1_WHN1">₹24,445</div>,
 <div class="_30jeq3 _1_WHN1">₹15,289</div>,
 <div class="_30jeq3 _1_WHN1">₹1,496</div>,
 <div class="_30jeq3 _1_WHN1">₹15,249</div>,
 <div class="_30jeq3 _1_WHN1">₹15,249</div>,
 <div class="_30jeq3 _1_WHN1">₹15,189</div>,
 <div class="_30jeq3 _1_WHN1">₹1,995</div>,
 <div class="_30jeq3 _1_WHN1">₹16,940</div>,
 <div class="_30jeq3 _1_WHN1">₹1,495</div>,
 <div class="_30jeq3 _1_WHN1">₹11,499</div>,
 <div class="_30jeq3 _1_WHN1">₹13,175</div>,
 <div class="_30jeq3 _1_WHN1">₹11,499</div>]

In [90]:
rates=[]

In [91]:
for item in mobile_rates:
    rates.append(item.text)

In [92]:
rates

['₹13,499',
 '₹11,499',
 '₹11,499',
 '₹16,249',
 '₹13,499',
 '₹16,249',
 '₹16,249',
 '₹10,499',
 '₹10,499',
 '₹10,285',
 '₹10,499',
 '₹1,995',
 '₹24,445',
 '₹15,289',
 '₹1,496',
 '₹15,249',
 '₹15,249',
 '₹15,189',
 '₹1,995',
 '₹16,940',
 '₹1,495',
 '₹11,499',
 '₹13,175',
 '₹11,499']

In [93]:
import pandas as pd

In [94]:
mobile = pd.DataFrame (mobile_name,columns=['mobile'])

In [95]:
mobile ['rates'] = rates

In [96]:
mobile

                                             mobile    rates
0           SAMSUNG Galaxy F22 (Denim Blue, 128 GB)  ₹13,499
1            SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  ₹11,499
2           SAMSUNG Galaxy F22 (Denim Black, 64 GB)  ₹11,499
3      SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)  ₹16,249
4          SAMSUNG Galaxy F22 (Denim Black, 128 GB)  ₹13,499
5         SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹16,249
6      SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹16,249
7       SAMSUNG Galaxy F12 (Celestial Black, 64 GB)  ₹10,499
8             SAMSUNG Galaxy F12 (Sea Green, 64 GB)  ₹10,499
9                  SAMSUNG Galaxy M12 (Blue, 64 GB)  ₹10,285
10             SAMSUNG Galaxy F12 (Sky Blue, 64 GB)  ₹10,499
11                    SAMSUNG Guru Music 2 SM-B315E   ₹1,995
12         SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)  ₹24,445
13               SAMSUNG Galaxy M32 (Black, 128 GB)  ₹15,289
14                                 SAMSUNG GT-E1215   ₹1,496
15        SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹15,249
16     SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)  ₹15,249
17          SAMSUNG Galaxy M32 (Light Blue, 128 GB)  ₹15,189
18                             SAMSUNG GURU MUSIC 2   ₹1,995
19  SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)  ₹16,940
20                                  SAMSUNG GURU GT   ₹1,495
21     SAMSUNG Galaxy F12 (Celestial Black, 128 GB)  ₹11,499
22               SAMSUNG Galaxy M12 (Black, 128 GB)  ₹13,175
23            SAMSUNG Galaxy F12 (Sky Blue, 128 GB)  ₹11,499

In [98]:
mobile.to_csv('mobile.csv')